@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #3b4acd;
    color: #A5B2D3;
    padding: .5em;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    text-align:center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header svg {
    width: 1.5em;
    cursor: pointer;
}

a {
    color: white;
}


ul {
    list-style: none;
    padding: 0;
}

a.logo {
    font-weight: bold;
    margin: 0 1em;
}

a.cta-btn {
    margin-left: auto;
    background: #FC85AE;
    padding: 1em;
    display: inline-block;
    border-radius: 2em;
    font-size: .6em;
    color: #303A52;
    font-weight: bold;
}

/* Navigation */


nav {
    position: fixed;
    background: #576483;
    height: 100vh;
    left: 0;
    top: 0;
    width: 80%;
    visibility: hidden;
    transform: translateX(-50%);
    opacity: 0;
    transition: all .3s;
    text-align: center;
}


nav p {
    margin-bottom: 0;
}

nav svg {
    cursor: pointer;
    width: 1em;
}

nav ul li a {
    display: block;
    padding: .2em;
    font-size: 1.8em;
}

.selected {
    background: #9E579D;
}

.open-nav {
    visibility: unset;
    opacity: 1;
    transform: translateX(0);
}


/* Main Section */


h1 {
    color: white;
}

.panel {
    background: #39445F;
    border-radius: .3em;
}

h3 {
    color: #FC85AE;
    margin: 0;
    font-size: 2em;
}

ul.data li p {
    color: white;
    font-weight: bold;
    font-size: 1.8em;
    margin: .3em 0 1em;
}

ul.data li:last-child p {
    margin-bottom: 0;
}
ul.secondary {
    margin-top: 2em;
}
ul.secondary li p {
    font-size: 1.3em;
}

main {
    border: 1px solid white;
}


/* Your Fixes Below */
body {
    padding: 1em;
     background: #293144;
}
/* navigation */
nav {
    text-align: left;
    padding: 1em 0;
    width: 50%;
    background: #333d55;
}
nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1em;
    padding: 1em;
}
.selected {
    font-weight: bolder;
    background: unset;
}
.selected a{
    color:  #eeb8ed;
}

nav ul li a:hover {
    background: #9E579D;
}

.inner-wrapper {
    font-size: 1rem;
    padding: 0 1em;
   
}
.inner-wrapper p {
    font-size: .8rem;
    border-bottom: 1px solid;
    padding: 1em 0;
}
nav svg{
    width: 1.5em;
}

/* header */
header {
    margin-bottom: 1em;
}
header a {
    text-decoration: none;
}
a.cta-btn {
    text-transform: uppercase;
    letter-spacing: .2em;
    border-radius: .5em;
    padding: .5em 1em;
}
 
/* main*/
main {
    border: unset;
    margin: auto;
    padding: 1em 0 2em;
}
h1 {
    text-transform: uppercase;
}
h3{ 
    font-size: unset;
    color: #FC85AE;
}

.left h3{
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}
.panel {
    padding: 1em;
    margin-bottom: 2.5em;
}

/* Large Phones */

@media (min-width: 500px) {
    body {
        text-align: left;
        padding: 2em;
    }
    .data {
         display: flex;
        flex-wrap: wrap;
     }
    .data li{
         flex: 50%;
    }
}

@media (min-width: 600px) {
    .panel li{
        flex: 30%;
   }
   .panel ul li p{
       margin-bottom: 0;
   }
}