@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
/* color: 
blue rgb(154, 215, 243)
yellow rgb(254, 218, 0)
orange (238, 123, 4)
 */


html, body {
    margin: 0;
    padding: 0;
    font-family: 'nunito', sans-serif;
}

.wrapper {
    padding: 1em;
}
img {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
a {
    text-decoration: none;
}
/* ----HEADER ---- */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(238, 123, 4);
    margin-bottom: .5em;
    display: inline-block;
}
nav ul {
    width: 70%;
    display: flex;
}
nav li {
    padding: .2em 1em;
    margin-right: 1em;
}
nav a {
    color: white;
    font-weight: bold;
}

/* ----HERO CONTENT ----- */
.hero-left {
    text-align: center;
    margin: auto;

}
h1 {
    font-weight: bolder;
    margin: 1.5em auto 0;
}
.cta-btn {
    background: rgb(238, 123, 4);
    color: white;
    font-size: .8rem;
    font-weight: bold;
    padding: .5em 1.5em;
    border-radius: 2em;
    margin: 1em auto 3em;
    display: inline-block;
}

/* ----TESTIMONIALS ----- */

img {
    position: absolute;
    z-index: -1; 
}

ul.testimonials {
    width: 80%;
    margin: 2em auto;
}
.testimonials li {
    background: rgba(255, 255, 255, 0.939);
    padding: 2em;
    margin-bottom: 1em;
    text-align: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.218);
}
blockquote, blockquote p {
    margin: 0;
}
footer {
    font-weight: bold;
    font-size: .8rem;
}
blockquote p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

@media (min-width: 300px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    nav ul li:nth-last-child(1){
        margin-right: 0;
    }
}

@media (min-width: 600px) {
    ul.testimonials {
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-gap: 1em;
    }
    ul.testimonials li {
        margin: 0;
    }
    ul.testimonials li:nth-of-type(3) {
        grid-column: 1/-1;
    }
  
}

@media (min-width: 1000px) {
    .wrapper {
        padding: 2em;
    }
    .hero-left {
        text-align: left;
        width: 30%;
        margin-left: 3em;
    }
    .hero-left h1{
        font-size: 3rem;
        margin: 0;
    }
    .cta-btn {
        margin-bottom: 2em;
    }
    img {
        width: 50%;
        right: 0;
        top: -9em;
    }
    ul.testimonials{
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    ul.testimonials li{
        margin-right: 1em;
    }
    ul.testimonials li:nth-of-type(3){
        margin-right: 0;
    }
}


/* For the width display, ignore this */

.width-container {
    display: none;
}

.display-width {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #E6E6E6;
    padding: .3em;
    font-size: .85em;
    color: black;
}