@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    /* overflow: hidden; */
}

.container {
    padding: 3em;
}
.container::before {
    background: rgba(238, 238, 211, 0.395);
    content: '';
    width: 20vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

}
h1 {

}
span {
    background-color: rgb(238, 238, 211);
    border-radius: .7em;
    padding: .1em .4em;
    font-size: .75rem;
}

span::after{
    position: absolute;
    content:'1.30';
    font-size: 10rem;
    color:rgba(238, 238, 211, 0.395);
    top: .5em;
    left: 1.25em;
}