@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    /* overflow: hidden; */
}

.container {
    padding: 3em;
}
h1 {

}
span {
    background-color: rgb(238, 238, 211);
    border-radius: .7em;
    padding: .1em .4em;
    font-size: .75rem;
}
span::before {
    position: absolute;
    content:'1:30';
    z-index: -1;
    color: rgba(224, 224, 224, 0.32);
    font-size: 15rem;
    left: 20%;
    top: 6%;
}
