@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    /* overflow: hidden; */
}

.container {
    padding: 3em;
}
.container::before {
    content:'';
    width: 20vw;
    height: 100vh;
    background:rgba(149, 231, 114, 0.51);
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
}
/* .container::before {
    background: rgb(68, 76, 64);
    content: '';
    width: 20vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

} */
h1 {
    color: rgb(92, 142, 71);
}
span {
    background-color: rgb(68, 76, 64);
    border-radius: .7em;
    padding: .1em .4em;
    font-size: .75rem;
}

span::after{
    position: absolute;
    content:'1.30';
    font-size: 10rem;
    color:rgba(149, 231, 114, 0.51);
    top: .5em;
    left: 1.25em;
    z-index: -1;
}