@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    background-image: url(../images/stop.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    align-content: center; 
    height: 100vh;
}

.container {
    margin-left: 1.5em;
    padding-left: 1.5em;
    border-left: .75em white solid;
}
h1{ 
    font-size: 2.5rem;
    margin: 0;
}
p{
    margin: 0;
    letter-spacing: .25em;
    font-size: .75rem;
    margin-top: 1em;
}

@media (min-width: 600px) {
    body {
        padding-left: 10vw;
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.25rem;
    }
}