@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: rgb(243, 233, 233);
    padding: 1em;
}
.logo{
    color:rgb(51, 184, 51);
    text-decoration: none;
    font-weight: bold;
    font-family: 'Nunito';
    font-size: 1.5rem;
}

.open-btn {
    width: 1.75em;
    cursor: pointer;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    background:rgb(243, 233, 233);
    height: 100vh;
    width: 50%;
    visibility: hidden;
}

.close-btn{
    width: 1.75em;
    float: right;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin-top: 4em;
}

nav ul a {
    display: inline-block;
    color:rgb(51, 184, 51);
    text-decoration: none;
    margin-bottom: 1em;
}

.active a {
    font-weight: bold;
    padding: 0 0 .25em;
    border-bottom: .2em solid rgb(51, 184, 51);
}
.open-nav {
    visibility: unset;
}

@media (min-width: 700px) {
    svg{
       display: none;
    }
    nav {
        visibility: unset;
        position: unset;
        padding: 0;
        width: auto;
        height: auto;
    }
    nav ul{
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-content: center;

    }

    nav ul a{
        margin:0;
        padding-left: 1em; 
    }
}